* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}


/* ------------ Configuração de Cores ------------ */
:root {
    --color-neutral-black: #263238;
    --color-neutral-D_Grey: #4d4d4d;
    --color-neutral-Grey: #717171;
    --color-neutral-L_Grey: #89939e;
    --color-neutral-Gray_blue: #abbed1;
    --color-neutral-Silver: #f5f7fa;
    --color-neutral-White: #ffffff;

    --color-primary: #4caf4f;
    --color-secondary: #263238;
    --color-info: #2194f3;

    --color-shade1: #43a046;
    --color-shade2: #388e3b;
    --color-shade3: #237d31;
    --color-shade4: #1b5e1f;
    --color-shade5: #103e13;

    --color-tint1: #66bb69;
    --color-tint2: #81c784;
    --color-tint3: #a5d6a7;
    --color-tint4: #c8e6c9;
    --color-tint5: #e8f5e9;

    --color-action-Warning: #FBC02D;
    --color-action-Error: #E53835;
    --color-action-Seccess: #2E7D31;

/* -----configuração de fonts--------- */

    --font-family: "Inter";
    
    --font-headline1-size: 64px;
    --font-headline1-weight: 600;

    --font-headline2-size: 36px;
    --font-headline2-weight: 600;

    --font-headline3-size: 28px;
    --font-headline3-weight: 700;

    --font-headline4-size: 20px;
    --font-headline4-weight: 600;

    /* body */
    
    --font-body1-size: 18px;
    --font-body1-weight: 400;
    --font-body1-weitght-medium: 500;

    --font-body2-size: 16px;
    --font-body2-weight: 400;
    --font-body2-weitght-medium: 500;

    --font-body3-size: 14px;
    --font-body3-weight: 400;
    --font-body3-weitght-medium: 500;

    --font-body4-size: 12px;
    --font-body4-weight: 400;
    --font-body4-weitght-medium: 500;


}

a {
    text-decoration: none; 
}

.active-menu {
    font-weight: 500 !important;
}

p {
    color: var(--color-neutral-Grey);
}

.btn-primary {
    padding: 14px 32px;
    background-color: var(--color-primary); 
    border-radius: 4px;
    align-self: flex-start;
    margin-top: 16px;
}

.btn-primary a {
    color: var(--color-neutral-White);
}

h2 {
    font-size: var(--font-headline2-size);
    font-weight: var(--font-headline2-weight);
    color: var(--color-neutral-D_Grey);
}

.btn-navigation a{
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: var(--color-primary);
    font-weight: var(--font-headline-4-weight);
}